/* Bootstrap Overrides */
.form-horizontal .control-label {
  text-align: left;
}

.alert {
  padding: 10px;
}

/* My Styles */

tr.prime {
	background-color: #cfc;
}

.roman {
  font-family: serif;
}